@charset "utf=8";
* {
    height: 100%;
}
body{
    background-image: linear-gradient(to right,#CCF9FE,#C9BDFD,#DF66F1,#FE8DFF,#FF9DFF);
    background-attachment: fixed;
    text-align: center;
}
/* * configurações globais da css*/
/* to right ou 90deg, usando deg dá para fazer o degrade em diagonal*/
/* também existe o radial-gradient junto ao circle, que será um degrade em circulo*/
/*adicionar valor+porcentagem no final da cor define o tamanho que ela irá consumir no degrade*/