@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    background-color: lightgray;
}
header{
    background-color: darkgray;
}
header > h1{
    padding: 10px;
    text-align: center;
}
span#burguer{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer
}
span#burguer:hover{
    background-color: white;
    color: black;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
}
menu > ul > li > a:hover{
    background: white;
    color: black;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article > h2 {
    padding-bottom: 20px;
}
article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}
footer{
    background-color: darkgray;
}
footer > p{
    color: black;
}
footer > p > a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
footer > p > a:hover{
    text-decoration: underline;
}