@charset "utf=8";
/**{
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}*/
@font-face {
    font-family: 'Bebas';
    src: url('./font/BebasNeue-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid';
    src: url('./font/IDroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor1: #b9ffff;
    --cor2: #81c9fa;
    --cor3: #2196f3;
    --cor4: #1465bb;
    --cor5: #003785;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas', cursive;
    --fonte2: 'Droid', sans-serif
}
body{
    background-color: var(--cor2);
    line-height: 2.0em;
}
main{
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 10px;
}
nav{
    font-family: var(--fonte1);
    background-color: var(--cor4);
    margin: 0px;
    text-align: center;
}
nav > h1 {
    color: white;
    text-shadow: 2px 2px 0px black;
    font-weight: bold;
    text-align: center;
}
nav > p {
    color: white;
    font-weight: bold;
    text-align: center;
}
p.nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 10px auto 0px;
}
nav > p > a:hover{
    background-color: var(--cor5);
}
p{
    font-family: var(--fonte0);
    text-align: justify;
}
